# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Logs and debug files
*.log

# Model weights and large files
data/
models/
runs/
new-data-3-30/
*.zip

# Output files
*.mp4
*.mov

# Model
#*.pt